<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="bi bi-telephone contact__icon"></i>
                <div>
                    <h3 class="contact__title">Call Me</h3>
                    <span class="contact__subtitle">9876543210</span>
                    
                </div>
            </div>

            <div class="contact__information">
                <i class="bi bi-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Mail</h3>
                    <span class="contact__subtitle">saikiran@gmail.com</span>

                </div>
            </div>
        </div>
        <form class="contact__form grid">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="name" class="contact__label">Name</label>
                    <input type="text" id="name" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="email" class="contact__label">Email</label>
                    <input type="email" id="email" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="project" class="contact__label">Project</label>
                    <input type="text" id="project" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="message" class="contact__label">Message</label>
                    <textarea class="contact__input" name="message" id="message" cols="0" rows="7"></textarea>
                </div>
                <div>
                    <a href="#" class="button button--flex">
                        Send Message
                    </a>
                </div>
            </div>
        </form>
    </div>

</section>