<section class="profile section" id="profile">
    <div id="home" class="profile__container container grid">
        <div class="profile__content grid">
            <div class="profile__social">
                <a href="https://www.linkedin.com/in/manchikantisaikiran/" target="_blank">
                    <bi name="linkedin" class="profile__social-icon"></bi>
                </a>
                <a href="https://github.com/" target="_blank">
                    <bi name="github" class="profile__social-icon"></bi>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <bi name="twitter" class="profile__social-icon"></bi>
                </a>
            </div>
            <div class="profile__img">
                <svg class="profile__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                        <image class="profile__blob-img" x="12" y="18" xlink:href="../../assets/profile1.png" />
                    </g>
                </svg>
            </div>
            <div class="profile__data">
                <h1 class="profile__title">
                    Hi, I am Sai Kiran
                </h1>
                <h3 class="profile__subtitle">
                    FrontEnd Developer
                </h3>
                <p class="profile__description">
                    Through constant practice & learning, I produce aesthetic software to an extremely high standard.
                </p>
                <a fragment="#contact" class="button button--flex">
                    <span class="button__icon">Contact Me</span>
                </a>
            </div>
        </div>
        <div class="profile__scroll">
            <a href="#about" class="profile__scroll-button button--flex">
                <span class="profile__scroll-name">Scroll Down</span>
                <bi name="arrow-down-short" class="profile__scroll-mouse"></bi>
            </a>
        </div>
    </div>
</section>