<div class="container grid form__container">
    <div class="form__box">
        <span class="section__title form__title">Forgot Password</span>
        <span class="section__subtitle form__subtitle">Create a new password</span>
        <form>
            <div class="form__item">
                <label class="form__label" for="username">
                    UserName
                </label>
                <input type="text" class="form__input" id="username">
                <bi name="person-circle" class="form__icon"></bi>
            </div>
            <div class="form__item">
                <label class="form__label" for="email">
                    Password
                </label>
                <input type="email" class="form__input" id="email">
                <bi name="key" class="form__icon"></bi>
            </div>
            <div class="form__item">
                <label class="form__label" for="password">Confirm Password</label>
                <input type="password" class="form__input" id="password">
                <bi name="shield-lock-fill" class="form__icon"></bi>
            </div>
            <div class="form__button-container">
                <button type="button" class="button form__button cancel__button" routerLink="../login">Cancel</button>
                <button type="submit" (click)="onReset($event)" class="button form__button" id="form-button">Reset</button>
            </div>
        </form>
    </div>
</div>